* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #362813;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo img {
    width: 60px;
    height: 60px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 7vw;
    background-color: #f8e8d9;
    border-bottom: 2px solid #fcbf49;
    /* box-shadow: 0 2px 20px rgb(253, 124, 124); */
}

.nav-header ul {
    display: flex;
    align-items: center;
}

.nav-header ul li:hover {
    color: #ffa62b;
    /* text-shadow: 1px 1px 1px #ffa62b; */
}

.nav ul li {
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
}

.searchcontents{
    align-items: center;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

#search-input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ffa62b;
    border-radius: 5px;
    outline: none;
    background-color: #fdf8f1;
}

#searchicon {
    background-color: #ffa62b;
    padding: 6px 7px;
    cursor: pointer;
    border-radius: 5px;
}
